################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/formation/.vs
/formation/formation/bin/Debug/netcoreapp2.1
/formation/formation/obj
